<p>こんにちは！</p>

<p>こちらは貴様の今月のひっぱりだこ情報です。</p>

<div>
  <img src="<%= @trend_chart[:image_url] %>">
</div>

<p>
  こちらは最新の求人情報から得られた引っ張りだこ野郎です。
  これからも周りに合わせた生き方をお望みでしたら、こちらの商品をお買い上げやがれください。
</p>

<% @books.each do |book|%>
<div style="clear:both; margin-bottom: 2em;">
  <div style="float:left; width: 70px; padding: 0 0 2em 0;">
    <img src="<%= book[:image] %>" style="width: 50px;">
  </div>
  <div style="padding: 0 3em;">
    <%= book[:keyword] %>
    <div><%= book[:author] %></div>
    <h2 style="margin: 0;"><%= book[:title] %></h2>
    <a href="<%= book[:url] %>">この商品を買う？本当に？</a>
  </div>
</div>
<% end %>

<p>ごちそうさまでした！</p>