こんにちは！

こちらは貴様の今月のひっぱりだこ情報です。

<div>
<img src="<%= @trend_chart[:image_url] %>">
</div>

<% @books.each do |book|%>
<div style="clear:both">
  <div style="float:left; width: 70px; padding: 1em 0;">
    <img src="<%= book[:image] %>" style="width: 50px;">
  </div>
  <div style="padding: 0 3em;">
    <%= book[:keyword] %>
    <div><%= book[:author] %></div>
    <h2><%= book[:title] %></h2>
    <a href="<%= book[:url] %>">BUY NOW!</a>
  </div>
</div>
<% end %>
